<h3> Edit </h3>

<form method = "post" action= "/animals/<%= @animal.id %>">

  <label for="availability">Avalability:</label>
  <select name="availability" id="availability">
    <option values= "ready" > ready</option>
    <option values= "adopted" > adopted</option>
    <option values= "trainning" > trainning</option>
    <option values= "vet-care" > vet-care</option>
  </select>

  <div class= "form-el">
    <input type="submit" value="submit"/>
</div>
</form>
