<h3> Add New Animal</h3>

<form action= "/animal/new" method ="post">

  <label for = name > Name: </label>
  <input type = "text" name="name" id="name" required>

  <label for ="name"> Admission:</label>
  <input type ="date" name="admission" id= "admission" required>

  <label for="age">Age:</label>
  <input type="number" name="age" required>

  <label for="availability">Avalability:</label>
  <select id="availability" name="availability" required>
    <option values= "ready" > ready</option>
    <option values= "ready" > adopted</option>
    <option values= "ready" > trainning</option>
    <option values= "ready" > vet-care</option>
  </select>

  <label for="type">Type:</label>
  <input type="text" name="type" required>

  <input type = "submit" value = "Save">

</form>








</form>
