<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title> Animal Shelter</title>
  <link href="https://fonts.googleapis.com/css?family=calibry|Special+Elite" rel="stylesheet">

  <link rel="icon" href="/images/img3.png" />


  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">



  <title>Animal Shelter</title>

</head>
<body>
  <main>
    <div class='nav-container'>
      <div class='nav'>

        <div class='home'><a href="/">Home</a></div>

        <div class='animals'><a href="/animals">Animals</a></div>

        <div class='owners'><a href="/owners">Owners</a></div>

        <div class='adoptions'><a href="/adoptions">Adoptions</a></div>

      </div>
    </div>
    <%= yield %>
  </main>
</body>
</html>
