<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

  <title>Animal Shelter</title>

</head>
<body>
  <main>
    <div class='nav-container'>
      <div class='nav'>

        <div class='home'><a href="/">Home</a></div>

        <div class='animals'><a href="/animals">Animals</a></div>

        <div class='owners'><a href="/owners">Owners</a></div>

        <div class='adoptions'><a href="/adoptions">Adoptions</a></div>

      </div>
    </div>
    <%= yield %>
  </main>
</body>
</html>
