input[type="submit"]{
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
}

select{
width: 150px;
padding: 5px 35px 5px 5px;
margin: 15px 0;
font-size: 0.8em;
background-color: lightblue;
font-family: "Times New Roman"
border: 1px solid;
display: block;
}

:focus{
outline-color: transparent;
outline-style: none;
}
